<h2> Re-rate your beer </h2>

<form action="/beers/<%= @beer.id %>" method="POST">
     <input id="hidden" type="hidden" name="_method" value="patch">
    Name: <input type="text" value="<%= @beer.name %>"name="beer[name]"><br><br>
    Description: <input type="text" name="beer[description]" value="<%= @beer.description %>"><br><br>
    ABVpercentage: <input type="number" min="1" max="100" value="<%= @beer.abv %>" name="beer[abv]"><br><br>
    Rating: <input type="number" min="1" max="10"name="beer[rating]" value="<%= @beer.rating %>"><br><br>
    <input type="submit" value = "Rate Beer">
</form>