Name: <%= @beer.name %><br>
Description: <%= @beer.description %><br>
ABV: <%= @beer.abv %><br>
Rating: <%= @beer.rating %><br>

<form method="post" action="/beers/<%= @beer.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>

